{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "preserveAllComments": true,
        "parser": {
            "syntax": "typescript"
        },
        "transform": {},
        "target": "es2022",
        "loose": false
    },
    "sourceMaps": true,
    "minify": false
}