{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "preserveAllComments": true,
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2022",
        "loose": false,
        "externalHelpers": false
    },
    "module": {
        "type": "es6",
        "resolveFully": true
    },
    "sourceMaps": true,
    "minify": false
}