@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

@theme {
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >= --theme(--breakpoint-sm)) {
        max-width: none;
    }

    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

/*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.

    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

body {
    @apply dark:bg-neutral-900 dark:text-neutral-100;
}


.yRemoteSelection {
    background-color: var(--user-color);
    opacity: 0.5;
}

.yRemoteSelectionHead {
    position: absolute;
    border-left: var(--user-color) solid 2px;
    border-top: var(--user-color) solid 2px;
    border-bottom: var(--user-color) solid 2px;
    height: 100%;
    box-sizing: border-box;
}

.yRemoteSelectionHead::after {
    z-index: 1;
    position: absolute;
    content: ' ';
    font-size: 10px;
    background-color: var(--user-color);
    border-radius: 2px;
    padding: 0 2px;
    color: white;
    line-height: 1rem;
    left: -2px;
    top: -1rem;
}
